<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Farm</title>
</head>

<body>
    <h1>Add A Farm</h1>
    <form action="/products" method="POST">
        <div>
            <label for="name">Farm Name:</label>
            <input type="text" name="name" id="name" placeholder="Farm name">
        </div>
        <div>
            <label for="city">City:</label>
            <input type="text" name="city" id="city" placeholder="City">
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" name="email" id="email" placeholder="Email">
        </div>
        
        <button>Submit</button>
    </form>

    <a href="/products">Go Back</a>
</body>

</html>